/* the design of admin-categories.blade.php view */

.col-md-3 .customDiv .btn {
  margin-top: 18px;
}

.col-md-3 .customDiv {
  font-size: 15px;
}

.butxx .container .btn {
  margin-top: 60px;
}

.customDivxx {
  width: 80px;
  height: 80px;
}

