
.sportshop-icon {
    height: 33px;
  }

.search-bar select {
  border-radius: 50px 0 0 50px;
}
.search-bar input {
  border-radius: 0;
}
.search-bar .btn-outline-success {
  background-color: #38c172;
  color: #fff;
  border-radius: 0 50px 50px 0;
  margin-right: 20px;
}
.search-bar .btn-outline-success:hover {
  color: #38c172;
  background-color: #fff;
}
footer {
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: 20px;
}
/************** Product styling *********************/
.product {
    margin-top: 20px;
}
.product img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.product .product-info{
    padding: 10px
}
.product .product-info select{
    padding: 3px 10px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 3px;
}
.product .product-info .btn{
    padding: 10px 50px;
    margin: 10px 20px;
}
/************** Checkout styling *********************/
.checkout-form{
    padding: 10px ;
    margin-top: 20px;
}

/************** Orders styling *********************/


.order{
    border: 1px solid #ddd;
    margin-top: 10px;
}

.order .image{
    margin: 0;
}

.order img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order .delivered, .order .pending{
    max-width: 300px;
    text-align: center;
}

